import random

print ("Hello! Let's play!")

# Initializing the board
tabuleiro = [[" " for _ in range(3)] for _ in range(3)]

# Player symbols
jogador_humano = "★"  
jogador_ia = "☀"      

# To have control of the game
parar = False
rodada = jogador_humano
jogadas = 0

# This function is to show the board
def interface():
    print("\n   0   1   2")
    for i in range(3):
        print(f"{i}  [{tabuleiro[i][0]}] [{tabuleiro[i][1]}] [{tabuleiro[i][2]}]")
    print()

# This function is to validate victory
def validarVitoria(jogador):
    global parar
    combinacoes = [
        # Lines
        [(0,0),(0,1),(0,2)],
        [(1,0),(1,1),(1,2)],
        [(2,0),(2,1),(2,2)],
        # Columns
        [(0,0),(1,0),(2,0)],
        [(0,1),(1,1),(2,1)],
        [(0,2),(1,2),(2,2)],
        # Diagonals
        [(0,0),(1,1),(2,2)],
        [(2,0),(1,1),(0,2)]
    #Here I had done it another way, with a function and "if", but my teacher showed me this way which is easier.
    ]
    for combo in combinacoes:
        if all(tabuleiro[x][y] == jogador for x,y in combo):
            interface()
            print(f"Congratulations! {jogador} won!")
            parar = True
            return

# AI movement function
def jogadaIA():
    possiveis = [(i,j) for i in range(3) for j in range(3) if tabuleiro[i][j] == " "]
    if possiveis:
        linha, coluna = random.choice(possiveis)
        tabuleiro[linha][coluna] = jogador_ia
        print(f"Computer played in position {linha}, {coluna}")

# Main game loop
while not parar:
    interface()
    
    if rodada == jogador_humano:
        try:
            linha = int(input(f"Player {jogador_humano}, type a line (0-2): "))
            coluna = int(input(f"Player {jogador_humano}, type a line (0-2): "))
            
            if linha not in [0,1,2] or coluna not in [0,1,2]:
                print("Invalid row or column! Please try again.")
                continue

            if tabuleiro[linha][coluna] != " ":
                print("This position is already taken! Try another one.")
                continue

            tabuleiro[linha][coluna] = jogador_humano
            jogadas += 1
            validarVitoria(jogador_humano)
            rodada = jogador_ia

        except ValueError:
            print("Invalid input! Enter integers between 0 e 2.")

    else:
        jogadaIA()
        jogadas += 1
        validarVitoria(jogador_ia)
        rodada = jogador_humano

    # Check tie
    if jogadas == 9 and not parar:
        interface()
        print("Tie!")
        parar = True

print("Game over!")
